body {
  background-color: black;
  color: white;
}

/* .treemap-piece {
  transition: all 0.2s;
} */

.treemap-piece:hover rect {
  stroke: #fff;
}

.treemap-piece:focus {
  outline: none;
}

.treemap-piece.selected rect {
  stroke: #fff;
}
